#about {
  padding: 30px 0 60px;
  overflow: visible;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: 90px 0;
  }

  &::before {
    content: '';
    position: absolute;
    left: 2%;
    bottom: 3%;
    width: 100%;
    max-width: 500px;
    height: 200px;
    background: url('../images/icon/decor-rectangle-gray.png') 50% 50% /cover no-repeat;
    z-index: -2;
    display: none;

    @media (min-width: map_get($grid-breakpoints, md)) {
      display: block;
    }
  }

  .about-item {
    padding-top: 60px;

    &__title {
      margin-bottom: 30px;
    }

    &-description {
      position: relative;

      &__text {

        p {
          margin-bottom: 25px;

          &:last-of-type {
            display: none;
            margin-bottom: 0;
          }
        }
      }

      .open-full-text {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        font-weight: bold;
        padding: 2px 7px;
        background: #fff;
        color: $primary;
        cursor: pointer;
      }
    }
  }

  .about-prev {
    //position: relative;
    position: sticky;
    top: 90px;

    &::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 0;
      width: 130px;
      height: 60px;
      background: url('../images/icon/decor-circle-gray.png') 50% 50% /cover no-repeat;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: 170px;
        height: 80px;
      }
    }

    &__image {
      @extend %img;
      width: 90%;
      padding-bottom: 60%;

      &:first-of-type {
        margin-left: auto;
      }

      &:last-of-type {
        margin-top: -10%;
      }
    }
  }
}